@use '../../../../index.scss';

.educationSection {
    text-align: left;
    width: 80%;
    display: inline-block;
    
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    
    div {
        
        div.padding {
            background-color: index.$mono-color-2;
            padding: 1rem;
            text-align: right;

            div {
                text-align: left;
            }
        }
    }

    h4 {
        margin-bottom: 0;
    }

    span {
        font-size: 0.8rem;
    }

    h2, a {
        text-align: center;
    }
    
    nav {
        display: block;
        text-align: center;
        margin-right: 0;

        a {
            &.active {
                color: index.$mono-color-4;
            }
        }
    }
}