@use "../../../index.scss";

.cardSection {
    text-align: left;
    width: 100%;
    display: inline-block;

    h4 {
        margin-bottom: 0;
    }

    span {
        font-size: 0.8em;
    }

    h2, a {
        text-align: center;
    }

    .container { 
        .content {
            background-color: index.$mono-color-2;
            padding: 1em;
            margin-top: 0.5em;
            text-align: right;
            border-radius: 1em;
    
            div {
                text-align: left;
    
                a {
                    float: right;
                    border: none;
                }
            }
        }
    
        nav {
            display: block;
            text-align: center;
            
            a {
                margin: 0 0.25em 0 0.25em;
                &.active {
                    color: index.$mono-color-4;
                }
            }
        }
    }
}
