@use "../../../index.scss";

.cardSection {
    text-align: left;
    width: 100%;
    display: inline-block;

    h4 {
        margin-bottom: 0;
    }

    span {
        font-size: 0.8em;
    }

    h2, a {
        text-align: center;
    }

    .container { 
        .content {
            background-color: index.$mono-color-2;
            padding: 1em;
            margin-top: 0.5em;
            text-align: right;
            border-radius: 1em;
    
            div {
                text-align: left;
    
                a {
                    float: right;
                    border: none;
                }
            }
        }
    
        nav {
            overflow-x: auto;
            white-space: nowrap;
            text-align: center;
            
            a {
                padding: 0.1em 0.5em;
                display: inline-block;
 
                &.active {
                    color: index.$mono-color-4;
                }
            }

            a:first-child {
                border-radius: 1em 0 0 1em;
            }
    
            a:last-child {
                border-radius: 0 1em 1em 0;
            }
        }
    }
}
