@use "../../../index.scss";

.navHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid index.$mono-color-4;

    div {
        display: flex;
        align-items: center;
    }

    .logo {
        margin: 0;
        width: 1.8em;
        height: 1.8em;
        cursor: pointer;
    }

    .burger-menu {
        margin: 0 0 0 0.5em;
        cursor: pointer;
    }

    h1 {
        cursor: pointer;
        margin: 0;
        text-transform: uppercase;

        span {
            font-weight: lighter;
        }
    }

    .title {
        display: block;
    }
}

.mainSection {
    padding: 0 0 1em 0;
    z-index: 1;
}

.sectionOverlay {
    z-index: 2;
    position: absolute;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
}

.margin-lr {
    margin: 0 5em 0 5em;
    position: relative;

    @media only screen and (max-width: 768px) {
        margin: 0 0.5em 0 0.5em;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: index.$mono-color-1;

        img {
            margin: 0.5em 1em 0 1em;
        }

        a {
            border: none;
            background-color: transparent;
        }

        a:hover {
            top: 0;
        }
    }
}