@use "../../../index.scss";

.navHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
    }

    .logo {
        margin: 0;
        width: 1.8em;
        height: 1.8em;
        cursor: pointer;
    }

    .burger-menu {
        margin: 0 0 0 0.5em;
        cursor: pointer;
    }

    h1 {
        cursor: pointer;
        margin: 0;
        text-transform: uppercase;

        span {
            font-weight: lighter;
        }
    }

    .title {
        display: block;
    }
}

.mainSection {
    padding: 1em 0 1em 0;
}

.sectionOverlay {
    z-index: 2;
    position: absolute;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
}

.margin-lr {
    margin: 0 0.5em 0 0.5em;
    position: relative;

    @media only screen and (min-width: 768px) {
        margin: auto;
        width: 50vw;
    }
}

footer {
    display: flex;
    justify-content: center;

    img {
        margin: 0.5em 1em 0 1em;
    }

    a {
        border: none;
        background-color: transparent;
    }

    a:hover {
        top: 0;
    }
}