@use '../../../../index';

.logo {
    padding: 1.5em;
    margin: auto;
    width: 100px;
    height: 100px;

    &:hover {
        filter: drop-shadow(0 0 2em index.$mono-color-5);
    }
}


.headline-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-template-areas:
          "h1 img"
          "p img"
          "links img";
}

.img-grid-area {
    grid-area: img;
}

.h1-grid-area {
    grid-area: h1;
}

.p-grid-area {
    grid-area: p;
}

.links-grid-area {
    grid-area: links;
    display: inline-block;
}

img {
    width: 3rem;
    height: 3rem;
    margin: 0.5em;
}

a {
    margin-right: 1rem;
    color: index.$mono-color-5;
    border-bottom: 2px solid;
    border-image: linear-gradient(30deg, index.$mono-color-3, index.$mono-color-4, index.$mono-color-5 40px) 5;
    width: 100px;
    cursor: pointer;
}

a:hover {
    color: index.$mono-color-3;
    border-image: linear-gradient(30deg, index.$mono-color-5, index.$mono-color-4, index.$mono-color-3 40px) 5;
}