@use "../../../index.scss";

.main-navigation {
    z-index: 99;
    position: absolute;
    display: flex; 
    flex-direction: column;
    text-align: left;
    width: 25vw;
    background-color: index.$mono-color-1;
    
    a {
        background-color: index.$mono-color-1;
        padding-right: 0.5em;
    }

    a:hover {
        top: 0;
    }

    .active {
        color: index.$complementary;
    }
}