@use '../../../index.scss';

nav {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0.5rem;
    justify-content: space-around;
}

nav > button {
    background-color: index.$mono-color-2;
    color: index.$mono-color-5;
    padding: 1rem;
    font-weight: bolder;
    font-size: 1rem;
}

nav > button:hover {
    background-color: index.$mono-color-3;
}