@use "../../index.scss";

.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  line-height: 2em;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.content-section {
  letter-spacing: 0.25em;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 50vh;
  width: 25vw;
  border: 0.1rem solid index.$complementary;
  background: linear-gradient(
    205deg,
    index.$complementary 0%,
    index.$complementary 20%,
    index.$bg 20%,
    index.$bg 80%,
    index.$complementary 80%,
    index.$complementary 100%
  );
  text-align: center;

  @media only screen and (max-width: 600px) {
    width: 75vw;
  }

  button {
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 1;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;

    svg:focus {
      outline: none;
    }
  }
}
