@use "../../../index.scss";

.navHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid index.$mono-color-4;

    div {
        display: flex;
        align-items: center;
    }

    .burger-menu {
        margin: 0 0 0 0;
        cursor: pointer;
    }

    h1 {
        margin: 0;
        text-transform: uppercase;

        span {
            font-weight: lighter;
        }
    }

    .title {
        display: block;
    }
}

.mainSection {
    padding: 0 0 1em 0;
}

.margin-lr {
    margin: 0 5em 0 5em;

    @media only screen and (max-width: 768px) {
        margin: 0 0.5em 0 0.5em;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: index.$mono-color-1;

        img {
            margin: 0.5em 0.5em 0 0.5em;
        }

        a {
            border: none;
            background-color: transparent;
        }

        a:hover {
            top: 0;
        }
    }
}