.wrapper {
  display: grid;
  column-gap: 0.5em;
  row-gap: 0.5em;
  grid-template-columns: 1fr;
  grid-template-areas:
      "hd"
      "main"
      "ft";
}
.headline {
  grid-area: hd;
}
.education {
  grid-area: ft;
}
.experience {
  grid-area: main;
}