.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "hd hd hd"
    "sd main main"
    "sd ft ft";
}
  
@media only screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hd"
      "main"
      "ft"
      "sd";
  }
}
  
.headline {
  grid-area: hd;
}
.education {
  grid-area: ft;
}
.experience {
  grid-area: main;
}
.contact {
  grid-area: sd;
}