.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-areas:
    "hd main"
    "sd ft";
}
  
@media only screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hd"
      "main"
      "ft"
      "sd";
  }
}
  
.headline {
  grid-area: hd;
}
.education {
  grid-area: ft;
}
.experience {
  grid-area: main;
}
.contact {
  grid-area: sd;
}