section {
    text-align: left;

    div {
        justify-self: center;
    }

    h4 {
        margin-bottom: 0;
    }

    label {
        font-size: 0.8rem;
    }

    h2, a {
        text-align: center;
    }
    
    nav {
        display: block;
        justify-content: center;
    }
}