@use '../../../../index.scss';

section {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    
    @media only screen and (max-width: 768px) {
        width: auto;
    }
    
    div {
        
        div.padding {
            background-color: index.$mono-color-2;
            padding: 1rem;
            text-align: right;

            div {
                text-align: left;
            }
        }
    }

    h4 {
        margin-bottom: 0;
    }

    label {
        font-size: 0.8rem;
    }

    h2, a {
        text-align: center;
    }
    
    nav {
        display: block;
        text-align: center;
        margin: 0;

        a {
            &.active {
                color: index.$mono-color-3;
            }
        }
    }
}