.logo {
    padding: 1.5em;
    margin: auto;
    width: 100px;
    height: 100px;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.headline-grid {
    display: grid;
    align-items: center;
    grid-template-areas:
          "img"
          "h1"
          "p";
}

.img-grid-area {
    grid-area: img;
}

.h1-grid-area {
    grid-area: h1;
}

.p-grid-area {
    grid-area: p;
}