@use '../../../../index.scss';
.cover {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;

    hr.dotted {
        border: 1px solid index.$complementary;
        width: 70%;
    }
}

.profile {
    border-radius: 12em;
    height: 12em;
    width: 12em;
    box-shadow: 2px 2px 5px index.$mono-color-2,
    10px 10px 15px index.$mono-color-2,
    -1px -1px 30px index.$mono-color-2;
}