@use '../../../../index.scss';
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.profile {
    border-radius: 10em;
    height: 10em;
    width: 10em;
    box-shadow: 2px 2px 5px index.$mono-color-3,
    10px 10px 15px index.$mono-color-3,
    -1px -1px 30px index.$mono-color-3;
}