@use '../../../../index.scss';
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.profile {
    border-radius: 10em;
    height: 10em;
    width: 10em;
}