$mono-color-1: #340926;
$mono-color-2: #510639;
$mono-color-3: #AE0D7A;
$mono-color-4: #F033B4;
$mono-color-5: #FDDEF3;

:root {
  font-family: Tungsten-Bold,arial,georgia,sans-serif;
  line-height: 1.5;
  white-space: pre-line;
  text-align: center;
  background-color: $mono-color-5;
  color: $mono-color-5;
  font-size: 1rem;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: bolder;
  color: $mono-color-4;
  text-decoration: inherit;
}
a:hover {
  color: $mono-color-5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
