:root {
  font-family: Tungsten-Bold,arial,georgia,sans-serif;
  line-height: 1.5;
  white-space: pre-line;
  text-align: center;
  background-color: #292929;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: bolder;
  color: #c7f459;
  text-decoration: inherit;
}
a:hover {
  color: #839f39;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
