$complementary: #f033b4;
$bg: #202124;

:root {
  font-family: Tungsten-Bold,arial,georgia,sans-serif;
  line-height: 2em;
  white-space: pre-line;
  background-color: $bg;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  display: flex;
  overflow-x: hidden;
}
body, #root {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

img {
  width: 2.5em;
  height: 2.5em;
}