@use '../../../index.scss';

.btn-container {
    display: block;
    background-image: url('../../../assets/noise.svg');
    box-shadow: 2px 2px 5px index.$mono-color-2,
    10px 10px 15px index.$mono-color-2,
    -1px -1px 30px index.$mono-color-2;
    margin: auto;
    
    @media only screen and (min-width: 768px) {
        width: 50vw;
    }
}

.btn-container > button {
    margin: 0.5em;
    font-weight: bold;
    font-size: 1em;
    border-radius: 1em;
    border-width: 0;
    color: index.$mono-color-5;
    background-color: index.$mono-color-3;

    &:hover {
        box-shadow: index.$mono-color-5 3px 3px;
    }

    &:disabled {
        opacity: 0.5;
        box-shadow: none;
    }
}