@use "./../../../index.scss";

.blog-article {
    background-color: index.$mono-color-2;
    padding: 1em;
    margin-top: 1em;
    text-align: left;
    border-radius: 1em;

    h3 {
        margin: 0;
    }
}

.blog-article:hover {
    animation: blog-breath 1s infinite;
}

@keyframes blog-breath {
    0% {
        border: 1px solid index.$mono-color-4;
    }
    50% {
        border: 1px solid index.$complementary;
    }
    100% {
        border: 1px solid index.$mono-color-4;
    }
}